@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Faster+One|Permanent+Marker|Quicksand|Walter+Turncoat');

html, body, h1, h2, h3, h4, h5, h6, ul, li, ol, div {
  padding: 0;
  margin: 0;
}


html {
/*  font-family: 'Patua One', cursive;
*/  /*background-color: #7d64d6;*/
}


.trucklist-group {
  min-height: 140px;
}

h2.logo-text {
  font-family: 'Permanent Marker', cursive;
  color: #ff8600;
}
span.trucklist-group h2 {
  color: #422a0b;
}

span.trucklist-group h2:hover {
  color: #422a0b;
}

h4.list-group-item:hover {
  color: #red;
}

span.trucklist-group:hover h4 p {
  color: #422a0b;
}

span.trucklist-group.list-group-item{
  margin-bottom: inherit;
  border-radius: .5em;
  padding: 0;
  margin: 0;
  overflow: auto;
  margin-top: 1em;
}

span.trucklist-group.list-group-item:hover {
  color: #fff;
  background-color: rgba(245, 87, 11, 0.71);
  transition: 0.2s ease-in;
}

span.label-default {
  background-color: rgba(255, 106, 0, 0.75);
}

span.label-default:hover {
  background-color: #fff;
  transition: 0.2s ease;
  color: rgba(255, 106, 0, 0.75);
}

.trucklist-rating {
  padding-top: 2.5em;
  text-align: center;
}

.formWrapper {
  margin: 0 auto;
  text-align: center;
}

input {
  padding: 1em;
}

div.navbar-form {
  padding:0;
  margin:0;
  border: 1px solid red;
}

.navbar-form.navbar-right {
  padding-top: 0em;
  margin: 0;
}

.container {
  min-height: 6em;
}

.logo-inline {
  display: flex;
}

.logo-img {
  max-height: 56px;
}

.logo-marker-img {
  max-height: 50px;
}

.logo-text {
  margin-top: auto;
  font-size: 2.4em;
}

a.navbar-brand {
  padding: 0;
}
/*
.NavbarStyled {
  min-height: 6em;
}*/

/*.cart {
  height: 600px;
  border: 1px solid #111;
}*/

/*.truck-info-summary {
  border: 1px solid blue;
}

.truck-menu-group {
  background-color: #d8d8d8;
  border: 1px solid green;
}
*/
.truck-rating {
  text-align: center;
}

.cart-title {
  text-align: center;
}

.NavbarVendor {
  padding-top: .8em;
  font-size: 1.6em;
}

.panel-heading {
  min-height: 8em;
}

.incomingOrderMenuItem.well {
  min-height: 9em;
}


div.modal {
  padding: 0;
  margin: 0;
  position: relative;
}

input.Demo__search-input {
  width: 20em;
}

.loginTitle {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

.loginForm {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.modal-footer {
  text-align: center !important;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(255, 176, 120, 0.37);
}

.modal-header {
  background-color: rgba(255, 176, 120, 0.37);
}

.modal-body {
  background-color: rgba(255, 176, 120, 0.17);
}

input.form-control::-webkit-input-placeholder {
  text-align: center;
}

input.form-control {
  text-align: center;
}

.mapLoader {
  text-align: center;
  padding-top: 2em;
}

/*map popup styles... not working correctly*/
/*mapboxgl-popup-content {
  color: #fff;
  background: rgb(255, 106, 0);
}*/
/*t {
  color: #fff;
  background: rgb(255, 106, 0);
}*/

.truckListCards {
  height: 1055px;
  overflow: scroll;
}

.ui.right.aligned.category.search.item {
  position: fixed;
  z-index: 88888;
  left: 13%;
  top: 2%;
  background-color: rgba(212, 212, 212, 0.08);
  border-radius: 5%;
}

/*.grid-sizer,
.grid-item { width: 50%; }*/

/*.ui.grid>.column:not(.row) {
  padding: 0;
}
*/

.mainroot {
  border: 1px solid rebeccapurple;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
   position: relative;
  left: 0;
  height: 100%;
  width: 100%;
}
.ui.grid {
  margin: 1rem;
}

/*.ui.grid.gridWrapper {
  position: fixed;
  border: 1px solid red;
  height: 100%;
}

.ui.grid>.column:not(.row) {
  padding-top: 0rem;
  padding-bottom: 0rem;
}*/

/*.menuHeader {
  height: 200px;
  background-image: url('http://i2.cdn.cnn.com/cnnnext/dam/assets/120405183406-stacked-sandwich-super-169.jpg')
}*/

.ui.grid.TruckMenuClass {
  margin: 1rem;
}

.row.truck-menu-group {
  margin-right: 15px;
  margin-left: 15px;
}

.six.wide.column.gridLeftWrapper.cart {
  padding-right: 3em;
}

.ten.wide.column.gridLeftWrapper.truck-info-left-pane {
  padding-left: 4em;
}

.row.truck-menu-group {
  display: grid;
}

.ui.grid>.row  {
  display: block;
}






/*
* { box-sizing: border-box; }

body { font-family: sans-serif; }



/*-------TESTING FOR MASONRY LAYOUT-------*/
/*-------NOT USEFUL IF IMPLEMENTING REACT_MASONRY_LAYOUT, only native MASONRY-------*/

/* ---- grid ---- */
/*/*
.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
/*.grid:after {
  content: '';
  display: block;
  clear: both;
}*/

/* ---- grid-item ---- */

/*.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }*/
/*/
/*
==============================TIME PICKER=====================================*/


.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.truckListScroll.row {
  height: 92vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.truckCard {
  padding-bottom: 2em;
}

.truckCardtext {
  width: 92%;
  height: 2em;
  margin-top: -3em;
  margin-left: .8em;
  font-size: 1.2em;
  font-family: Avenir, Helvetica;
  color: white;
  font-weight: bold;
  position: absolute;
}

.flexbox { display: flex; }


.flexbox .stretch { flex: 1; }
