
html {
  font-family: 'Patua One', cursive;
  background-color: #7d64d6;
}

.trucklist-group {
  min-height: 140px;
}

span.trucklist-group.list-group-item {
  background-color: rgba(255, 255, 255, 0.36);
}

.trucklist-rating {
  padding-top: 3em;
  text-align: center;
}

.formWrapper {
  margin: 0 auto;
  text-align: center;
}

input {
  padding: 1em;
}

.img-logo {
  height: 75px;
  width: 125px;
}
