@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Faster+One|Permanent+Marker|Waiting+for+the+Sunrise|Walter+Turncoat');

html, body, h1, h2, h3, h4, h5, h6, ul, li, ol, div {
  padding: 0;
  margin: 0;
}


html {
/*  font-family: 'Patua One', cursive;
*/  /*background-color: #7d64d6;*/
}


.trucklist-group {
  min-height: 140px;
}

h2.logo-text {
  font-family: 'Permanent Marker', cursive;
  color: #ff8600;
}
span.trucklist-group h2 {
  color: #422a0b;
}

span.trucklist-group h2:hover {
  color: #422a0b;
}

h4.list-group-item:hover {
  color: #red;
}

span.trucklist-group:hover h4 p {
  color: #422a0b;
}

span.trucklist-group.list-group-item{
  margin-bottom: inherit;
  border-radius: .5em;
  padding: 0;
  margin: 0;
  overflow: auto;
  margin-top: 1em;
}

span.trucklist-group.list-group-item:hover {
  color: #fff;
  background-color: rgba(245, 87, 11, 0.71);
  transition: 0.2s ease-in;
}

span.label-default {
  background-color: rgba(255, 106, 0, 0.75);
}

span.label-default:hover {
  background-color: #fff;
  transition: 0.2s ease;
  color: rgba(255, 106, 0, 0.75);
}

.trucklist-rating {
  padding-top: 2.5em;
  text-align: center;
}

.formWrapper {
  margin: 0 auto;
  text-align: center;
}

input {
  padding: 1em;
}

div.navbar-form {
  padding:0;
  margin:0;
  border: 1px solid red;
}

.navbar-form.navbar-right {
  padding-top: 0em;
  margin: 0;
}

.container {
  min-height: 6em;
}

.logo-inline {
  display: flex;
}

.logo-img {
  max-height: 84px;
}

.logo-marker-img {
  max-height: 50px;
}

.logo-text {
  margin-top: auto;
  font-size: 2.4em;
}

a.navbar-brand {
  padding: 0;
}
/*
.NavbarStyled {
  min-height: 6em;
}*/

.cart {
  height: 600px;
  border: 1px solid #111;
}

.truck-info-summary {
  border: 1px solid blue;
}

.truck-menu-group {
  background-color: #d8d8d8;
  border: 1px solid green;
}

.truck-rating {
  text-align: center;
}

.cart-title {
  text-align: center;
}

.NavbarVendor {
  padding-top: .8em;
  font-size: 1.6em;
}

.panel-heading {
  min-height: 8em;
}

.incomingOrderMenuItem.well {
  min-height: 9em;
}

/*.button.btn.btn-default {
  width: 100%;
}

.button.btn.btn-success {
  width: 100%;
}*/


div.modal {
  padding: 0;
  margin: 0;
  position: relative;
}

input.Demo__search-input {
  width: 40em;
}

.loginTitle {
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  font-size: 2em;
}

.loginForm {
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
}

.modal-footer {
  text-align: center !important;
  font-family: 'Walter Turncoat', cursive;
  background-color: rgba(255, 176, 120, 0.37);
}

.modal-header {
  background-color: rgba(255, 176, 120, 0.37);
}

.modal-body {
  background-color: rgba(255, 176, 120, 0.17);
}

input::-webkit-input-placeholder {
   text-align: center;
}

input#formHorizontalPassword {
    text-align: center;
}
